*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
test/fixtures/Enel.xls
test/fixtures/Enel_extract.xls
test/private/
vendor/

tmp
lib/goodsheet/spreadsheet_v1.rb
notex.txt